%h2.hi{:style => "margin-left:25px; text-shadow: 1px 1px 2px gray", :remote => true}  School Manament System
/ %h4.click{:style => "margin-left:250px; text-shadow: 1px 1px 2px gray"}  Computer Programming Courses

= render "left_navigation_menu"

.main_container_1h{:style => "margin-left:250px; height:30px; padding-top:10px;"}
  %span{:style => "color:white; font-size:18px;"}
    = link_to "Add New Category", new_category_path

.general-main-container
  %dl
    - @category.each do |category|
      %dt{:style=> "font-size:20px;"}
        = link_to category.title, category_path(category)
      %dd
        - category.courses.each do |course|
          %li
            = link_to course.title, course_path(course)

/ #myCarousel.carousel.slide
/   %ol.carousel-indicators
/     %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
/     %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
/     %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
/   / Carousel items
/   .carousel-inner
/     .active.item …
/     .item
/       = image_tag("under_construction.jpg")
/     .item
/       = image_tag("rails.png")
/   / Carousel nav
/   %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
/   %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›